.todo-header {
  display: flex;
  gap: 10px;
  margin-bottom: 2rem;
}

.todo-header input {
  flex: 1;
  font-size: 1rem;
  border: 2px solid #eee;
  transition: border-color 0.3s;
}

.todo-header input:focus {
  border-color: var(--primary-color);
}

.btn-add {
  background-color: var(--primary-color);
  color: white;
  padding: 0 24px;
}