        /* :root {
          /* padding: 10px;
          /* margin: 10px; */
          /* color: rgba(255, 255, 255, 0.87); */
          */
:root {
  --primary-color: #6200ee;
  --secondary-color: #03dac6;
  --background-color: #f5f5f5;
  --text-color: #212121;            
}